.about-page {
  width: 100%;
  max-width: 868px;
  margin: 0 auto;
  padding: 77px 0 158px 0;
  box-sizing: border-box;
}

.about-page__title {
  margin: 0 0 14px 0;
  padding: 0;
  text-align: center;
  color: #dc8962;
  font-size: 30px;
  line-height: 37px;
  font-weight: 600;
}

.about-page__group {
  margin: 100px 0 0 0;
  padding: 0;
  display: grid;
  gap: 28px;
  font-size: 16px;
  line-height: 140%;
  color: #513629;
}

.about-page__group_type_img-right {
  grid-template-columns: 1.2fr 1fr;
}

.about-page__group_type_img-left {
  grid-template-columns: 1fr 1.2fr;
}

.about-page__text {
  width: 100%;
  max-width: 453px;
}

.about-page__text_colored {
  margin: 0;
  padding: 0;
  color: #dc8962;
}

.about-page__img {
  max-width: 370px;
  width: 100%;
  max-height: 280px;
  border: 0;
  border-radius: 10px;
  align-self: center;
}

.about-page__text_type_left,
.about-page__img_type_left {
  justify-self: start;
}

.about-page__text_type_right,
.about-page__img_type_right {
  justify-self: end;
}

@media screen and (max-width: 1024px) {
  .about-page {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 850px) {
  .about-page__group {
    margin-top: 50px;
  }

  .about-page__group_type_img-right {
    grid-template-columns: 1fr;
  }

  .about-page__group_type_img-left {
    grid-template-columns: 1fr;
  }
  .about-page__text,
  .about-page__img {
    max-width: unset;
    max-height: unset;
  }
}

@media screen and (max-width: 480px) {
  .about-page {
    padding-top: 54px;
  }
}
